.top{
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    text-align: center;
    background-color: #545454;
    color: #fafafa;
    height: 200px;
    line-height: 200px;
}

.middle {
    text-align: center;
    height: 300px;
    padding: 0px 100px 0px 100px;
}

.bottom {
    text-align: center;
}